/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
        hsl(var(--hue), 100%, 99%)
  */
  --first-hue: 207;
  --sat: 90%;
  --lig: 61%;
  --second-hue: 355;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --text-color: hsl(var(--second-hue), 255%, 255%);
  --body-color: rgb(0, 0, 0);
  --container-color: rgb(34, 34, 34);
  --text-color-dark: hsl(var(--second-hue), 4%, 85%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 35px;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-modal: 3;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 50px;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== Variables Dark theme ==========*/
body.light-theme {
  --text-color: rgb(0, 0, 0);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --text-color-dark: hsl(var(--second-hue), 8%, 35%);
  --container-color: hsla(var(--second-hue), 48%, 8%, 0.1);
}
/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/

/* .light-theme .scrool__header {
  box-shadow: 0 2px 4px hsla(0, 1%, 1%, 0.1);
} */

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 1.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== HEADER & NAV===============*/
header {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: var(--body-color);
  transition: 0.4s; /* for light mode animation */
}
.nav {
  margin: 10px 10px;
}

/*=============== THEME ===============*/

.change-theme {
  font-size: 1.25rem;
  cursor: pointer;
  transform: 0.3s;
  border: 1px solid rgb(19, 47, 76);
  padding: 5px;
  border-radius: 30px;
  font-weight: var(--font-medium);
  fill: currentColor;
  color: var(--text-color-dark);
}

.change-theme:hover {
  color: var(--first-color);
}

/*=============== HOME ===============*/
#home {
  margin: 0% auto;
  text-align: center;
}
.profile_div {
  margin: 0px auto;
  height: auto;
  width: 100%;
  max-width: 680px;
  padding: 24px 12px;
}
.profile_link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 11px 20px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--container-color);
  margin-bottom: 16px;
}
@keyframes imran {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.profile_text {
  width: 100%;
  font-weight: var(--font-semibold);
  letter-spacing: 1px;
  font-size: var(--normal-font-size);
}
.profile_link-icon {
  position: absolute;
  z-index: 3;
  font-size: var(--biggest-font-size);
  transform: translateX(-15px);
  border-radius: 50px;
  color: var(--text-color-dark);
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__perfil {
  width: 70px;
  height: 70px;
  background: linear-gradient(
    180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1) 0%,
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2) 100%
  );
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profile__perfil img {
  width: 75px;
}

.profile__border {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profile__name {
  font-size: var(--smaller-font-size);
}

/* ============== FOOTER ==================== */
#footer {
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
}
.skills {
  width: 100%;
  display: flex;
  cursor: pointer;
}
.skills img {
  width: 70px;
  height: 70px;
  border: 1px solid var(--first-color);
}
marquee{
  display: flex;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 767px) {
  .profile__img {
    width: 70px;
  }
  .profile_div {
    padding: 24px 12px;
  }
  .profile_link {
    padding: 16px 20px;
  }
  /*  */

  .profile__perfil {
    width: 85px;
    height: 85px;
  }

  .profile__border {
    width: 100px;
    height: 100px;
  }

  .profile__name {
    padding-bottom: 0.25rem;
  }
  .profile_link:hover {
    animation: imran 0.2s linear;
  }
  #footer {
    margin-top: 50px;
  }
}
